<h2>Pets Index</h2>
<% if @shelter %>
  <h3><%= "#{@shelter.name}'s Pets" %></h3>
  <p><%= @shelter.id %></p>
<% else %>
  <h3>Pets</h3>
<% end %>

<% @pets.each do |pet| %>
  <section class="grid-pet" id="pet-<%= pet.id %>">
    <p><a href="/pets/<%= pet.id %>"><%=pet.name%></a></p>
    <img src="<%= pet.image %>"<br>
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= pet.shelter.name %></p>
    <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>
    <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
    <br>
    <br>
  </section>
<% end %>

<% if @shelter %>
<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
<% end %>
